/* work sans */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap');
  *{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav> ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    margin-right: 40px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
.nav-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
}

.title{
    color:#131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.description{
    color:  #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    border: 0px;
}
.banner-content{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;

}
.btn:hover{
    cursor: pointer;
}
.banner img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0px auto;
}

.feature-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-images img{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    margin: 24px;
    box-shadow: 2px 15px 10px;
    border-radius: 10px;
}
.feature-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    width: 469px;
}
span{
    color: #FF900E;
    font-weight: 700;
}
.featue-content{
    /* width: 40%; */
    padding-left: 70px;
    padding-right: 70px;

}
.feature-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}



@media screen and (max-width: 576px) {
    header{
        padding: 5px;
    }
    nav{
        flex-direction: column;
    }
    .feature-section{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .feature-images{
        display: grid;
        grid-template-columns: 1fr;
    }
    .featue-content{
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;

        
    }
   
}
@media screen and (min-width: 577px) and (max-width:962px) {
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}
